# Python
__pycache__/
*.py[cod]
*.sqlite3
 obj/

# Django secret settings
*.env
.env
.venv/
antenv/
settings_secret.py
 
# VS Code / IDE stuff
.vscode/
.idea/
.vs/

# OS files
.DS_Store
Thumbs.db


